*{  
    margin:0;
    background-color:aliceblue;
}
body{
    overflow: hidden;
    
}
#canvas{
    border: 1px solid black;
    background-image: url('./pics/BgPic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
}